@model SiteRepublicas.Models.Republicas

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Republicas</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quartos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quartos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Banheiros)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Banheiros)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cozinha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cozinha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Numero_de_Vagas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Numero_de_Vagas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Garagem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Garagem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rua)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rua)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bairro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bairro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a  class="btn btn-outline-primary" asp-action="Index">Back to List</a>
    </form>
</div>
