@model SiteRepublicas.Models.Republicas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Republicas</h4>
    <hr />




    <table>


        <tr>
            <td class="col-sm-4">
                @Html.DisplayNameFor(model => model.Nome)
            </td>
            <td class="col-sm-4">
                @Html.DisplayFor(model => model.Nome)
            </td>
            <td class="col-sm-4">
                @Html.DisplayNameFor(model => model.Quartos)
            </td>
            <td class="col-sm-4">
                @Html.DisplayFor(model => model.Quartos)
            </td>
            <td class="col-sm-4">
                @Html.DisplayNameFor(model => model.Salas)
            </td>
            <td class="col-sm-4">
                @Html.DisplayFor(model => model.Salas)
            </td>
        </tr>





        <tr>

            <td class="col-sm-4">
                @Html.DisplayNameFor(model => model.Banheiros)
            </td>
            <td class="col-sm-4">
                @Html.DisplayFor(model => model.Banheiros)
            </td>
            <td class="col-sm-4">
                @Html.DisplayNameFor(model => model.Cozinha)
            </td>
            <td class="col-sm-4">
                @Html.DisplayFor(model => model.Cozinha)
            </td>
            <td class="col-sm-4">
                @Html.DisplayNameFor(model => model.Numero_de_Vagas)
            </td>
            <td class="col-sm-4">
                @Html.DisplayFor(model => model.Numero_de_Vagas)
            </td>

        </tr>


        <tr>

            <td class="col-sm-4">
                @Html.DisplayNameFor(model => model.Garagem)
            </td>
            <td class="col-sm-4">
                @Html.DisplayFor(model => model.Garagem)
            </td>
            <td class="col-sm-4">
                @Html.DisplayNameFor(model => model.Valor)
            </td>
            <td class="col-sm-4">
                @Html.DisplayFor(model => model.Valor)
            </td>
            <td class="col-sm-4">
                @Html.DisplayNameFor(model => model.Tipo)
            </td>
            <td class="col-sm-4">
                @Html.DisplayFor(model => model.Tipo)
            </td>

        </tr>
        <tr>

            <td class="col-sm-4">
                @Html.DisplayNameFor(model => model.Telefone)
            </td>
            <td class="col-sm-4">
                @Html.DisplayFor(model => model.Telefone)
            </td>
            <td class="col-sm-4">
                @Html.DisplayNameFor(model => model.Email)
            </td>
            <td class="col-sm-4">
                @Html.DisplayFor(model => model.Email)
            </td>

        </tr>

        <tr>

            <td class="col-sm-4">
                @Html.DisplayNameFor(model => model.Rua)
            </td>
            <td class="col-sm-4">
                @Html.DisplayFor(model => model.Rua)
            </td>
            <td class="col-sm-4">
                @Html.DisplayNameFor(model => model.Numero)
            </td>
            <td class="col-sm-4">
                @Html.DisplayFor(model => model.Numero)
            </td>
            <td class="col-sm-4">
                @Html.DisplayNameFor(model => model.Bairro)
            </td>
            <td class="col-sm-4">
                @Html.DisplayFor(model => model.Bairro)
            </td>
        </tr>


    </table>

</div>
<div>

    <a  class="btn btn-info" asp-action="Index">Voltar</a>
</div>
