@model IEnumerable<SiteRepublicas.Models.Republicas>

@{
    ViewData["Title"] = "MyRep";
}

<h1>MyRep</h1>

<p>
    <a class="btn btn-info" asp-action="Create">Adicionar Republica</a>
</p>
<table class="table">
    <thead>
        <tr >
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quartos)
            </th>
           
            <th>
               Vagas Disponiveis
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Garagem)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
               Localização
            </th>
        
         
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quartos)
            </td>
   
            <td>
                @Html.DisplayFor(modelItem => item.Numero_de_Vagas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Garagem)
            </td>
            <td>
                R$ @Html.DisplayFor(modelItem => item.Valor),00
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
              Rua:  @Html.DisplayFor(modelItem => item.Rua) <br />
              Bairro:  @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
